@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --font: 'Nunito', sans-serif;
    --font-color: white;
    --bg-header: #1E1E1E;
    --bg-body: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

h1 {
    font-size: x-large;
}

body {
    font-family: var(--font);
    background-color: var(--bg-body);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--bg-header);
    height: 60px;;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    gap: 10px;
}

button {
    background-color: var(--bg-header);
    color: var(--font-color);
    border: 0.5px solid gray;
    border-radius: 4px;
    height: 25px;
    width: 100px;
}

button:hover {
    background-color: green;
    box-shadow: 5px 5px 5px black;

}

button:active {
    box-shadow: none;
}

.textbox {
    background-color: var(--bg-header);
    color: var(--font-color);
    border: 0.5px solid gray;
    border-radius: 4px;
    height: 25px;
    width: 300px;
}

.checked {
    text-decoration: line-through;
}